body {
    font-family: sans-serif;
}
header{
    color:black;
    background-color:yellow ;
    text-align: center;
    padding:10px;
    border-radius: 20px;
}
h1{
    color:purple;
    size: 40px;
}
footer{
    color:red;
    size:20px;
}
nav{
    text-align: center;

}
nav a{
    color:indigo;
   

}
.doublekbomb{
    background-color: rgb(11, 224, 11);
    border-radius: 10px;
    text-align: center;
}
h2{
    background-color: rgb(140, 14, 230);
    color:black;
    border-radius: 10px;
    text-align: center;
}

    
